
.title {
    grid-area: 17/1/18/3;
    justify-self: center;
    z-index: 3; 
}

.ProjectButton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}







@media  (max-width: 830px){
.hide {
    display:none;
}

.title {
   display:none;
}
}


